<br />
<div class="container">
  <div class="card">
    <div class="card-body">
        <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4 centralizar">
            <mdb-form-control>
                <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="livro.nome"/>
                <label mdbLabel class="form-label" for="form1">Nome</label>
              </mdb-form-control>
              <br>
              <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="save()">salvar</button>
        </div>
        <div class="col-lg-4">

        </div>
    </div>
        
        






    </div>
  </div>
</div>
